---
layout: default
title: About C5IN
permalink: /about/
---

<!--===== HERO AREA STARTS =======-->
<div class="inner-page-header" style="background-image: url({{'/assets/img/bg/header-bg5.png' | relative_url}});">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="heading1 text-center">
                    <h1>About C5IN</h1>
                    <div class="space20"></div>
                    <a href="{{ '/' | relative_url }}">Home <i class="fa-solid fa-angle-right"></i> <span>About Us</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->

{% include partials/about-section.html %}

<!--===== OTHERS AREA STARTS =======-->
{% include partials/what-we-do.html %}
<!--===== OTHERS AREA ENDS =======-->

<!--===== PARTNERS AREA STARTS =======-->
{% include partials/our-partners.html %}
<!--===== PARTNERS AREA ENDS =======-->

<!--===== CTA AREA STARTS =======-->
{% include partials/priorevent.html %}
<!--===== CTA AREA ENDS =======-->