
{% if paginator.total_pages > 1 %}
    <div class="pagination-area">
        <nav aria-label="Page navigation example">
            
            <ul class="pagination ">
                <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
                    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" tabindex="-1" aria-disabled="{{ paginator.previous_page }}"
                    aria-label="Previous">
                     <i class="fa-solid fa-angle-left"></i>
                    </a
                    >
                </li>
                {% if paginator.page_trail %}
                    {% for trail in paginator.page_trail %}
                    <li class="page-item {% if page.url == trail.path %}active{% endif %}">
                        <a class="page-link" href="{{ trail.path | relative_url | remove: 'index.html' }}" title="{{ trail.title }}">{{ trail.num }}</a>
                    </li>
                    {% endfor %}
                {% endif %}
                <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
                    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>
                </li>
                </ul>
        </nav>
    </div>
{% endif %}