<!--===== ABOUT AREA STARTS =======-->
<div class="about1-section-area sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-imges">
                    <div class="img1 reveal image-anime">
                        <img src="{{ '/assets/img/all-images/about/about-img1.png' | relative_url }}" alt="" />
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="space30"></div>
                            <div class="img1 reveal image-anime">
                                <img src="{{ '/assets/img/all-images/about/about-img2.jpg' | relative_url }}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="space30"></div>
                            <div class="img1 reveal image-anime">
                                <img src="{{ '/assets/img/all-images/about/about-img3.jpg' | relative_url}}" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="about-btnarea">
                        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" fill="none" class="keyframe5">
                            <path
                                d="M93.8771 2.53621C96.8982 1.28483 98.4087 0.659138 100 0.659138C101.591 0.659138 103.102 1.28483 106.123 2.5362L164.588 26.7531C167.609 28.0045 169.119 28.6302 170.245 29.7554C171.37 30.8806 171.995 32.3912 173.247 35.4123L197.464 93.8771C198.715 96.8982 199.341 98.4087 199.341 100C199.341 101.591 198.715 103.102 197.464 106.123L173.247 164.588C171.995 167.609 171.37 169.119 170.245 170.245C169.119 171.37 167.609 171.995 164.588 173.247L106.123 197.464C103.102 198.715 101.591 199.341 100 199.341C98.4087 199.341 96.8982 198.715 93.8771 197.464L35.4123 173.247C32.3912 171.995 30.8806 171.37 29.7554 170.245C28.6302 169.119 28.0045 167.609 26.7531 164.588L2.53621 106.123C1.28483 103.102 0.659138 101.591 0.659138 100C0.659138 98.4087 1.28483 96.8982 2.5362 93.8771L26.7531 35.4123C28.0045 32.3912 28.6302 30.8806 29.7554 29.7554C30.8806 28.6302 32.3912 28.0045 35.4123 26.7531L93.8771 2.53621Z"
                                fill="#FFBA00"
                            />
                        </svg>
                        <a href="{{'/about/' | relative_url}}" >
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                            <br />
                            <div class="space12"></div>
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-header-area heading2">
                    <h5 data-aos="fade-left" data-aos-duration="800">about our association</h5>
                    <div class="space16"></div>
                    <h2 class="text-anime-style-3">Empowering Cameroon with Cloud and Edge Technologies</h2>
                    <div class="space16"></div>
                    <p data-aos="fade-left" data-aos-duration="900">C5IN Cameroon is dedicated to fostering innovation and awareness in cloud computing, distributed systems, IoT Edge, and Fog technologies across Cameroon,
                      embracing our rich cultural heritage.</p>
                    <div class="space32"></div>
                    <div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icons">
                            <img src="{{ '/assets/img/icons/cloud.svg' | relative_url}}" alt="" />
                        </div>
                        <div class="text">
                            <a href="#">Cloud Computing</a>
                            <div class="space12"></div>
                            <p>Advancing cloud solutions for businesses and individuals, tailored to the Cameroonian context.</p>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1100">
                        <div class="icons">
                            <img src="{{ '/assets/img/icons/wifi.svg' | relative_url}}" alt="" />
                        </div>
                        <div class="text">
                            <a href="#">Distributed Systems</a>
                            <div class="space12"></div>
                            <p>Building robust and scalable distributed systems, reflecting our collaborative ethos.</p>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="about-auhtor-box" data-aos="fade-left" data-aos-duration="1200">
                        <div class="icons">
                            <img src="{{ '/assets/img/icons/iot.svg' | relative_url}}" alt="" />
                        </div>
                        <div class="text">
                            <a href="#">IoT Edge &amp; Fog</a>
                            <div class="space12"></div>
                            <p>Exploring the potential of IoT Edge and Fog computing, inspired by our innovative spirit.</p>
                        </div>
                    </div>
                    <div class="space32"></div>
                    <div class="btn-area1" data-aos="fade-left" data-aos-duration="1200">
                        <a href="{{ '/contact/' | relative_url }}" class="vl-btn1">Become an Attendee</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== ABOUT AREA ENDS =======-->