<!--===== EVENT AREA STARTS =======-->
<div class="event-sidepage-section-area sp8">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="event-side-images">
                    <div class="img1">
                        {% assign image_path = page.image  %}
                        {% if image_path == "" or image_path == nil %}
                            {% assign image_path = site.events_defaults.image %}
                        {% endif %}
                        <img src="{{ image_path | prepend: '/assets/img/all-images/event/' }}" alt="" />
                    </div>
                    <div class="space32"></div>
                    <h3>{{ page.title }}</h3>
                    <div class="space16"></div>
                    {{ content | markdownify }}
                    <div class="space40"></div>
                     <!-- <h4>Event Speakers</h4>
                   <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="our-team-boxarea">
                                <div class="team-widget-area">
                                    <img src="assets/img/elements/elements25.png" alt="" class="elements21" />
                                    <img src="assets/img/elements/elements26.png" alt="" class="elements22" />
                                    <div class="img1">
                                        <img src="assets/img/all-images/team/team-img12.png" alt="" class="team-img4" />
                                        <div class="share">
                                            <a href="#"><img src="assets/img/icons/share1.svg" alt="" /></a>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#" class="icon1"><i class="fa-brands fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon2"><i class="fa-brands fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon3"><i class="fa-brands fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon4"><i class="fa-brands fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="space28"></div>
                                <div class="content-area">
                                    <a href="speakers-single.html">Alex Robertson</a>
                                    <div class="space16"></div>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="our-team-boxarea">
                                <div class="team-widget-area">
                                    <img src="assets/img/elements/elements25.png" alt="" class="elements21" />
                                    <img src="assets/img/elements/elements26.png" alt="" class="elements22" />
                                    <div class="img1">
                                        <img src="assets/img/all-images/team/team-img13.png" alt="" class="team-img4" />
                                        <div class="share">
                                            <a href="#"><img src="assets/img/icons/share1.svg" alt="" /></a>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#" class="icon1"><i class="fa-brands fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon2"><i class="fa-brands fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon3"><i class="fa-brands fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon4"><i class="fa-brands fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="space28"></div>
                                <div class="content-area">
                                    <a href="speakers-single.html">Alexy Sammony</a>
                                    <div class="space16"></div>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="our-team-boxarea">
                                <div class="team-widget-area">
                                    <img src="assets/img/elements/elements25.png" alt="" class="elements21" />
                                    <img src="assets/img/elements/elements26.png" alt="" class="elements22" />
                                    <div class="img1">
                                        <img src="assets/img/all-images/team/team-img14.png" alt="" class="team-img4" />
                                        <div class="share">
                                            <a href="#"><img src="assets/img/icons/share1.svg" alt="" /></a>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="#" class="icon1"><i class="fa-brands fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon2"><i class="fa-brands fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon3"><i class="fa-brands fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" class="icon4"><i class="fa-brands fa-pinterest-p"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="space28"></div>
                                <div class="content-area">
                                    <a href="speakers-single.html">Kireon Pollardy</a>
                                    <div class="space16"></div>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-5">
                <div class="shedule-listarea">
                    <div class="content-area">
                        <ul>
                            <li>
                                <a href="#"><img src="{{ '/assets/img/icons/clock1.svg' | relative_url }}" alt="" />{{ page.time }} <span> | </span></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ '/assets/img/icons/location1.svg' | relative_url }}" alt="" />{{ page.location}} </a>
                            </li>
                        </ul>
                        <div class="space20"></div>
                        <a href="#" class="head">{{ page.title }}</a>
                        <div class="space24"></div>
                        <!-- <div class="author-area">
                            <div class="autho-name-area">
                                <div class="img1">
                                    <img src="assets/img/all-images/testimonials/testimonial-img1.png" alt="" />
                                </div>
                                <div class="text">
                                    <a href="speakers-single.html">Alex Roberton</a>
                                    <div class="space8"></div>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>

                            <div class="autho-name-area" style="padding: 0 0 0 12px; border: none">
                                <div class="img1">
                                    <img src="assets/img/all-images/testimonials/testimonial-img2.png" alt="" />
                                </div>
                                <div class="text">
                                    <a href="speakers-single.html">Alexys Archer</a>
                                    <div class="space8"></div>
                                    <p>WP Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="space24"></div>
                        <div class="btn-area1">
                            <a href="pricing-plan.html" class="vl-btn1"><span class="demo">purchase ticket Now</span></a>
                        </div> -->
                    </div>
                    <div class="space30"></div>
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1990.3785671606165!2d11.500080143147636!3d3.8622094363456614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcfa23aace247%3A0xe07671abb10169f9!2s%C3%89cole%20Nationale%20Sup%C3%A9rieure%20Polytechnique%20de%20Yaound%C3%A9!5e0!3m2!1sfr!2sfr!4v1748265115918!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space24"></div>