<!--===== PARTNERS AREA STARTS =======-->
<div class="brands3-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 m-auto">
                <div class="brand-header heading4 space-margin60 text-center">
                    <h3>Join Our partners already growing</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" data-aos="zoom-in" data-aos-duration="800">
                <div class="brand-slider-area owl-carousel">
                    {% for brand in site.data.partners %}
                    <div class="brand-box">
                        <img src="{{ brand.image | prepend: '/assets/img/all-images/partners/' }}" alt="{{ brand.name }}" />
                    </div>
                    {% endfor %}
                      
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== PARTNERS AREA ENDS =======-->