<!--===== CTA AREA STARTS =======-->
<div class="cta1-section-area d-lg-none d-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="cta1-main-boxarea">
                    <div class="timer-btn-area">
                        <div class="timer">
                            <div class="time-box">
                                <span id="days" class="time-value">119</span>
                                <br />
                            </div>
                            <div class="space14"></div>
                            <div class="time-box">
                                <span id="hours" class="time-value">22</span>
                                <br />
                            </div>
                            <div class="space14"></div>
                            <div class="time-box">
                                <span id="minutes" class="time-value">18</span>
                                <br />
                            </div>
                            <div class="space14"></div>
                            <div class="time-box" style="margin: 0 26px 0 0">
                                <span id="seconds" class="time-value">44</span>
                                <br />
                            </div>
                        </div>
                        <div class="btn-area1">
                            <a href="pricing-plan.html" class="vl-btn1">Buy Ticket</a>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <a href="#"><img src="{{ '/assets/img/icons/calender1.svg' | relative_url }}" alt="" />30 January 2025 - 6pm to 11:30pm</a>
                        </li>
                        <li class="m-0">
                            <a href="#"><img src="{{ '/assets/img/icons/location1.svg' | relative_url}}" alt="" />Secret Location In The UK</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== CTA AREA ENDS =======-->