<!--===== OTHERS AREA STARTS =======-->
<div class="choose-section-area sp2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="heading2 text-center space-margin60">
                    <h5>What We Do</h5>
                    <div class="space18"></div>
                    <h6>C5IN is dedicated to driving technological advancement through comprehensive programs and initiatives</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="choose-widget-boxarea">
                    <div class="icons">
                        <img src="{{ '/assets/img/icons/choose-icons1.svg' | relative_url }}" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content-area">
                        <a href="event-single.html">Education and Training</a>
                        <div class="space16"></div>
                        <p>Organizing technical workshops, certification programs, academic seminars, and intensive bootcamps on cloud, distributed systems, IoT Edge & Fog computing.</p>
                        <div class="space24"></div>
                        <a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="choose-widget-boxarea">
                    <div class="icons">
                        <img src="{{ '/assets/img/icons/choose-icons1.svg' | relative_url }}" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content-area">
                        <a href="event-single.html">Strategic Partnerships</a>
                        <div class="space16"></div>
                        <p>Collaborating with tech companies, academic institutions, other associations, and public bodies to amplify our impact.</p>
                        <div class="space24"></div>
                        <a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="choose-widget-boxarea">
                    <div class="icons">
                        <img src="{{ '/assets/img/icons/choose-icons1.svg' | relative_url }}" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content-area">
                        <a href="event-single.html">Demonstration and Innovation</a>
                        <div class="space16"></div>
                        <p>Developing pilot projects, documenting local use cases, fostering an innovation lab, and promoting open-source solutions tailored to Cameroon's needs.</p>
                        <div class="space24"></div>
                        <a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="choose-widget-boxarea">
                    <div class="icons">
                        <img src="{{ '/assets/img/icons/choose-icons1.svg' | relative_url }}" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content-area">
                        <a href="event-single.html">Community Building</a>
                        <div class="space16"></div>
                        <p>Providing a platform for networking, knowledge sharing, and collaboration among professionals, students, and enthusiasts.</p>
                        <div class="space24"></div>
                        <a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="choose-widget-boxarea">
                    <div class="icons">
                        <img src="{{ '/assets/img/icons/choose-icons1.svg' | relative_url }}" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content-area">
                        <a href="event-single.html">Events and Awareness</a>
                        <div class="space16"></div>
                        <p>Hosting annual tech conferences, enterprise roadshows, thematic hackathons, and public open days to showcase the potential of these technologies.</p>
                        <div class="space24"></div>
                        <a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="choose-widget-boxarea">
                    <div class="icons">
                        <img src="{{ '/assets/img/icons/choose-icons1.svg' | relative_url }}" alt="" />
                    </div>
                    <div class="space24"></div>
                    <div class="content-area">
                        <a href="event-single.html">Operating with Integrity</a>
                        <div class="space16"></div>
                        <p>C5IN operates in accordance with Cameroonian law N°90/53 of December 19, 1990, governing associations. We are an independent, non-political, and non-denominational organization committed to technological advancement and community development.</p>
                        <div class="space24"></div>
                        <a href="event-single.html" class="readmore">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== OTHERS AREA ENDS =======-->