---
layout: default
---

<!--===== HERO AREA STARTS =======-->
<div class="inner-page-header" style="background-image: url({{ '/assets/img/bg/header-bg13.png' | relative_url }});">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto">
                <div class="heading1 text-center">
                    <h1>Our Blog</h1>
                    <div class="space20"></div>
                    <a href="{{ '/' | relative_url }}">Home <i class="fa-solid fa-angle-right"></i> <span>Our Blog</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->
<!--===== BLOG AREA STARTS =======-->

<div class="bloginner-section-area sp1">
{% assign posts = site.posts %}
{% if posts.size > 0 %}
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-duration="800">
                
                <div class="blog4-boxarea">
                    <div class="img1">
                        <img src="{{ post.image | prepend: '/assets/img/all-images/blog/' }}" alt="{{post.title}}" />
                    </div>
                    <div class="content-area">
                        <ul>
                            <li>
                                <a href="#"><img src="{{ 'assets/img/icons/calender1.svg' | relative_url }}" alt="" /><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time> <span> | </span></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ 'assets/img/icons/user1.svg' | relative_url }}" alt="" />{{post.author}}</a>
                            </li>
                        </ul>
                        <div class="space20"></div>
                        <a href="{{ post.url | relative_url }}">{{post.title}}</a>
                        <div class="space24"></div>
                        <a href="{{ post.url | relative_url }}" class="readmore">read more <i class="fa-solid fa-arrow-right"></i></a>
                        <div class="arrow">
                            <a href="{{ post.url | relative_url }}"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}

            


            <div class="space30"></div>
            {% if page.pagination.enabled %}
                {% include pagination.html %}
            {% endif %}
        </div>
    </div>

    {% endif %}
</div>
<!--===== BLOG AREA ENDS =======-->