---
layout: default
---

<!--===== HERO AREA STARTS =======-->
{% include hero/news.hero.html %}
<!--===== HERO AREA ENDS =======-->
<!--===== BLOG AREA STARTS =======-->

    <section id="news-list" class="py-5">
        {% assign posts = site.posts %}
        {% if posts.size > 0 %}
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="col-md-12 mb-4">
                    <div class="card news-list-card">
                        <div class="news-card-img-container">
                            {% if post.image %}
                            <img src="{{ post.image | prepend: site.news_config.defaults.image_path }}" class="news-card-img" alt="{{ post.title }}">
                            {% else %}  
                            <img src="{{ site.news_config.defaults.placeholder }}{{post.abbrev}}" class="news-card-img" alt="Nouveau partenariat">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="news-date"><i class="fas fa-calendar-alt me-1"></i> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
                            <h4 class="card-title">{{post.title}}</h4>
                            <p class="card-text">{{post.excerpt}}</p>
                            <a href="{{ post.url | relative_url }}" class="btn btn-outline-primary btn-sm btn-read-more">Lire la suite <i class="fas fa-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <!-- Pagination -->
            {% if page.pagination.enabled %}
                {% include pagination.html %}
            {% endif %}

        </div>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Aucune actualité disponible pour le moment.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
<!--===== BLOG AREA ENDS =======-->