---
layout: default
---

<!-- En-tête du Profil Membre (Identique à avant) -->
<header class="profile-header text-center">
    <div class="container">
        <nav aria-label="breadcrumb" class="mb-3 d-none d-md-block">
            <ol class="breadcrumb justify-content-center" style="--bs-breadcrumb-divider-color: #cce5ff; --bs-breadcrumb-item-active-color: #fff;">
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" style="color: #e6f2ff;">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ '/members' | relative_url }}" style="color: #e6f2ff;">Membres</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.name }}</li>
            </ol>
        </nav>
        {% if page.image %}
            <img src="{{ page.image | prepend: site.members_config.defaults.image_path }}" alt="{{ page.name }}" class="profile-photo-lg mt-4">
        {% else %}
            <img src="{{site.members_config.defaults.placeholder}}{{ page.abreviation | default: 'Membre' }}" class="profile-photo-lg mt-4" alt="Photo de {{ page.name }}">
        {% endif %}
        
        <h1 class="profile-name-lg">{{ page.name }}</h1>
        <p class="profile-title-lg">{{ page.role }}</p>
        <div class="profile-social-links-lg">
           {% for social in page.socials %}
                <a href="{{ social.url | relative_url }}" target="_blank" title="{{ social.title }}"><i class="{{ social.icon }}"></i></a>
            {% endfor %}

        </div>
    </div>
</header>

{{ content }}